body{
background-image: url("Backgroungimg.webp   ");
}


#lovag{
    border-radius: 101px;
}

.linkk{
    text-decoration: none;
    text-align: center;
}

.linkk a:hover{
    text-decoration: none;
    color: red;
}

#terkep{
    width: 900px;
    padding-left: 200px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}